<% flash.each do |msg_type, msg| %>
<div class="alert alert-<%= msg_type %> alert-dismissible fade show" role="alert">
  <%= content_tag :span, msg, class: "fw-bold" %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>
