<div id="home-container">
<div class="container-fluid">
<div class="row">
<div class="col-12 mainVisaul_slider">
 <ul id="slider">
  <li class="slider-item" role="img" aria-label="トップメインビジュアル01"></li>
  <li class="slider-item" role="img" aria-label="トップメインビジュアル02"></li>
  <li class="slider-item" role="img" aria-label="トップメインビジュアル03"></li>
  <li class="slider-item" role="img" aria-label="トップメインビジュアル04"></li>
  <li class="slider-item" role="img" aria-label="トップメインビジュアル05"></li>
</ul>
<div class="container mainVisual-headline-container">
  <div class="row">
    <div class="col-12 mainVisual-headline">
        <h1 class="top-headline">For All People Who <br>Enjoy Cooking<span class="d-block">料理を楽しむすべての人々のために</span></h1>
        <%= link_to "会員登録する", :root, class: "btn btn-signup font-weight-bold" %>
      </div>
  </div>
</div>
</div>
</div>
</div>
</div>
