/* Font Color
************************ */
$base-font-color: #000;
$font-color-white: #fff;
$font-color-ccc: #ccc;
$font-color-ddd: #ddd;
$font-color-gray-soft: #838E95;
$font-color-orange: #f57a00;
/* BackGround Color
************************ */
$bg-color-dark: #000;
$bg-color-white: #fff;
$bg-color-light-gray: #f9f9f9;
$bg-color-signup: #f57a00;
$bg-color-success: #28a745;
$bg-color-update: #007bff;
