@import 'bootstrap/scss/bootstrap';
@import "variables/colors.scss";
@import "variables/font-sizes.scss";
@import "home";
@import "recipes";

/* COMMON */
html{
  font-size: $root-font-size;
  body{
    font-size: $fs-16px;
    font-family:'Neue Haas Grotesk Text Pro',"-apple-system,BlinkMacSystemFont","Segoe UI","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
    color: $base-font-color;
    font-feature-settings: "palt";
    background-color: #f7f3e8;
  }
  ul{
    padding: 0;
  }
  ul, li{
    list-style: none;
  }
  /* DEBUG */
  .debug_dump{
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
  }
  /* SKELTON */
  .skeleton {
    position: relative;
    overflow: hidden;
    &:before{
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background:  linear-gradient(90deg, transparent, rgba(#fff, 0.5), transparent);
      position: absolute;
      top: 0;
      left: 0;
      animation: skeleton-loading 1.2s linear infinite;
    }
  }
  /* ALERTS */
  .alerts-ul{
    padding-left: 1.5rem;
    li{
      list-style-type: disc;
    }
  }
  @keyframes skeleton-loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
/* HEADER */
#header{
  .navbar{
    background-color: $bg-color-signup;
    .nav-link{
      color: $font-color-white;
    }
  }
  .navbar-brand{
    color: $font-color-white;
    padding: 0;
    &:hover{
      color: $font-color-white;
      opacity: .65;
    }
  }
  #login-user-info{
    padding: 0;
    .img-gravatar{
      width: 30px;
      height: 30px;
      margin-right: .15rem;
      display: inline-block;
      border: 1px solid $font-color-white;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .dropdown-menu{
    .item-headline{
      color: $font-color-white;
      font-size: $fs-10px;
    }
  }
  /* 登録する */
  .btn-signup{
    background-color: $bg-color-white;
    color: $font-color-orange;
    border-radius: 30px;
  }
  /* ログイン */
  .btn-login{
    border-radius: 30px;
    color: $font-color-white;
  }
}
@include media-breakpoint-between(md, lg) {
  body{
    padding-top: 56px;
  }
}
@include media-breakpoint-between(lg, xl) {
  body{
    padding-top: 56px;
  }
}
/* *****************************************
PC
***************************************** */
@include media-breakpoint-up(xl) {
  body{
    padding-top: 56px;
  }
}
